* text=auto
*.rs text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.plist text eol=lf
*.pdf binary
*.png binary
*.zip binary
*.dmg binary
